		<style>
		ul {
		list-style-type: none;
		margin:  0px;
		padding: 0;
		overflow: hidden;
		background-color:#3A6BA5;
		top:0;
			}
		li img{
			float: left;
		}
		li {
		
		}
		li a {
		float: right;
		display: block;
		color:white;
		text-align: center;
		padding: 25px 30px;
		text-decoration: none;
		font-family: 微軟正黑體;
		font-weight:bold;
		}
		/* Change the link color to #111 (black) on hover */
		li a:hover {
				background-color: 	#FFFF77;
		}
		#a1{
		position: absolute;
		top:650px;
		margin:  0px;
		text-align : center;
		background-color:#3A6BA5;
		z-index:4;
		width:100%;
		padding-top: 25px;
		padding-bottom: 25px;
		border:2px #FFFFFF solid;
		font-family: Algerian;
		font-size: 24px;
		color:white;
		}
		
		#a2 img{
		position: absolute;
		width:800px;
		height:150px;
		top:1580px;
		margin:  0px;
		text-align : center;
		background-color:;
		z-index:3;
		left:17%;

		}
		#a3{
		position: absolute;
		top:770px;
		margin:  0px;
		text-align :left;
		background-color:#AFDAEA;
		z-index: 2;
		width:50%;
		margin:0px 100px 0px 50px;
		padding-top: 90px;
		padding-bottom:75px;
		border-radius:10px;
		border:2px #FFFFFF solid;
		font-family: 微軟正黑體;
		font-size:20px;
		padding-left:20%;
		}
		#a3.d_over{background:#7CBFF0;}
		#a4{
		position: absolute;
		top:1130px;
		margin:0px 100px 0px 50px;
		text-align : center;
		background-color:#F1E3A7;
		z-index: 2;
		width:90%;
		padding-top: 100px;
		padding-bottom:100px;
		border-radius:10px;
		border:2px #FFFFFF solid;
		font-family: 微軟正黑體;
		font-size:20px;
		}
		#a4.d_over{background:#F2D66F;}
		#a5{
		position: absolute;
		top:1460px;
		margin:  0px;
		text-align : center;
		background-color:#AFDAEA;
		z-index: 2;
		width:90%;
		margin:0px 100px 0px 50px;
		padding-top: 100px;
		padding-bottom:170px;
		border-radius:10px;
		border:2px #FFFFFF solid;
		font-family: 微軟正黑體;
		font-size:20px;
		}
		#a5.d_over{background:#7CBFF0;;}
		#a6{
		position: absolute;
		top:1800px;
		margin:0px 100px 0px 50px;
		text-align : center;
		background-color:#F1E3A7;
		z-index: 2;
		width:90%;
		padding-top: 100px;
		padding-bottom:100px;
		border-radius:10px;
		border:2px #FFFFFF solid;
		font-family: 微軟正黑體;
		font-size:20px;
		}
		#a6.d_over{background:#F2D66F;}
		#a8{
		position: absolute;
		top:2130px;
		margin:0px 100px 0px 50px;
		text-align : center;
		background-color:#AFDAEA;
		z-index: 2;
		width:90%;
		padding-top: 80px;
		padding-bottom:70px;
		border-radius:10px;
		border:2px #FFFFFF solid;
		font-family: 微軟正黑體;
		font-size:20px;
		}
		#a8.d_over{background:#7CBFF0;}
		#a9{
		position: absolute;
		top:2440px;
		margin:0px 100px 0px 50px;
		text-align : center;
		background-color:#F1E3A7;
		z-index: 2;
		width:90%;
		padding-top: 90px;
		padding-bottom:75px;
		border-radius:10px;
		border:2px #FFFFFF solid;
		font-family: 微軟正黑體;
		font-size:20px;
		}
		#a9.d_over{background:#F2D66F;}
		#a7{
		position: absolute;
		top:770px;
		margin:  0px;
		text-align :left;
		background-color:#AFDAEA;
		z-index: 2;
		width:35%;
		left:55%;
		margin:0px 100px 0px 50px;
		padding-top: 80px;
		padding-bottom:63px;
		border-radius:10px;
		border:2px #FFFFFF solid;
		font-family: 微軟正黑體;
		font-size:20px;
		}
		#a7.d_over{background:#7CBFF0;}
		.p1 img{
		position: absolute;
		width:200px;
		height:200px;
		top:830px;
		margin: 0px;
		z-index: 3;
		left:80px;
		}
		.carousel-inner img{
		position:relative;
		height:580px;
		width:100%;
		}
		.aa3 ,.aa4,.aa5,.aa6,.aa7,.aa8,.aa9{
		font-family: 微軟正黑體;
		font-size:25px;
		font-weight:bold;
		}
		#aa10{
		position: absolute;
		top:2730px;
		font-family: 微軟正黑體;
		font-size:35px;
		text-align: left;
		font-weight:bold;
		left:45%;
		}
		.d1 img{
		position: absolute;
		width:150px;
		height:100px;
		top:1180px;
		margin: 0px;
		z-index: 3;
		left:100px;
		}
		.d2 img{
		position: absolute;
		width:150px;
		height:100px;
		top:1300px;
		margin: 0px;
		z-index: 3;
		left:1030px;
		}
		.d3 img{
		position: absolute;
		width:200px;
		height:100px;
		top:800px;
		margin: 0px;
		z-index: 3;
		left:450px;
		}
		.d6 img{
		position: absolute;
		width:100px;
		height:100px;
		top:1850px;
		margin: 0px;
		z-index: 3;
		left:1050px;
		}
		.dd6 img{
		position: absolute;
		width:200px;
		height:300px;
		top:1800px;
		margin: 0px;
		z-index: 3;
		left:2%;
		}
		.dd8 img{
		position: absolute;
		width:100px;
		height:100px;
		top:2150px;
		margin: 0px;
		z-index: 3;
		left:15%;
		}
		.d8 img{
		position: absolute;
		width:100px;
		height:80px;
		top:2180px;
		margin: 0px;
		z-index: 3;
		left:78%;
		}
		.ddd8 img{
		position: absolute;
		width:150px;
		height:100px;
		top:2300px;
		margin: 0px;
		z-index: 3;
		left:65%;
		}
		.d5 img{
		position: absolute;
		width:100px;
		height:100px;
		top:1500px;
		margin: 0px;
		z-index: 3;
		left:120px;
		}
		.d9 img{
		position: absolute;
		width:150px;
		height:100px;
		top:2450px;
		margin: 0px;
		z-index: 3;
		left:10%;
		}
		.dd9 img{
		position: absolute;
		width:80px;
		height:150px;
		top:2500px;
		margin: 0px;
		z-index: 3;
		left:75%;
		}
		.footer {
		position: absolute;
		top:3200px;
		bottom: 0;
		left: 0;
		height: 34px;
		background-color:#3A6BA5;
		width: 100%;
		text-align: center;
		margin-top: 50px;
		padding-top: 40px;
		padding-bottom: 40px;
		}
		.container{
		width:100%;
		margin: 0 auto;
		
		}
		.alife img{
		position: absolute;
		width:300px;
		height:200px;
		top:2140px;
		margin: 0px;
		z-index: 3;
		left:-2%;
		}
		.blife img{
		position: absolute;
		width:300px;
		height:200px;
		top:2352px;
		margin: 0px;
		z-index: 3;
		left:20%;
		}
		.clife img{
		position: absolute;
		width:220px;
		height:200px;
		top:2350px;
		margin: 0px;
		z-index: 3;
		left:-2%;
		}
		.dlife img{
		position: absolute;
		width:300px;
		height:200px;
		top:2135px;
		margin: 0px;
		z-index: 3;
		left:27%;
		}
		.elife img{
		position: absolute;
		width:300px;
		height:200px;
		top:2346px;
		margin: 0px;
		z-index: 3;
		left:49%;
		}
		.flife img{
		position: absolute;
		width:220px;
		height:200px;
		top:2345px;
		margin: 0px;
		z-index: 3;
		left:80%;
		}
		.glife img{
		position: absolute;
		width:280px;
		height:200px;
		top:2128px;
		margin: 0px;
		z-index: 3;
		left:58%;
		}
		.hlife img{
		position: absolute;
		width:150px;
		height:200px;
		top:2126px;
		margin: 0px;
		z-index: 3;
		left:86%;
		}
		.info1{
		/*   display: none; */
		opacity: 0;
		position: absolute;
		box-sizing: border-box;
		background-color: rgba(0,0,0,.3);
		top: 2140px;
		width:300px;
		height: 200px;
		text-align: center;
		padding-top: 60px;
		z-index: 5;
		left:-2%;
		}
		.info2{
		opacity: 0;
		position: absolute;
		box-sizing: border-box;
		background-color: rgba(0,0,0,.3);
		top: 2352px;
		width:300px;
		height: 200px;
		text-align: center;
		padding-top: 60px;
		z-index: 5;
		left:20%;
		}
		.info3{
		opacity: 0;
		position: absolute;
		box-sizing: border-box;
		background-color: rgba(0,0,0,.3);
		top: 2350px;
		width:220px;
		height: 200px;
		text-align: center;
		padding-top: 60px;
		z-index: 5;
		left:-2%;
		}
		.info4{
		opacity: 0;
		position: absolute;
		box-sizing: border-box;
		background-color: rgba(0,0,0,.3);
		top: 2135px;
		width:300px;
		height: 200px;
		text-align: center;
		padding-top: 60px;
		z-index: 5;
		left:27%;
		}
		.info5{
		opacity: 0;
		position: absolute;
		box-sizing: border-box;
		background-color: rgba(0,0,0,.3);
		top: 2346px;
		width:300px;
		height: 200px;
		text-align: center;
		padding-top: 60px;
		z-index: 5;
		left:49%;
		}
		.info6{
		opacity: 0;
		position: absolute;
		box-sizing: border-box;
		background-color: rgba(0,0,0,.3);
		top: 2345px;
		width:220px;
		height: 200px;
		text-align: center;
		padding-top: 60px;
		z-index: 5;
		left:80%;
		}
		.info7{
		opacity: 0;
		position: absolute;
		box-sizing: border-box;
		background-color: rgba(0,0,0,.3);
		top: 2128px;
		width:280px;
		height: 200px;
		text-align: center;
		padding-top: 60px;
		z-index: 5;
		left:58%;
		}
		.info8{
		opacity: 0;
		position: absolute;
		box-sizing: border-box;
		background-color: rgba(0,0,0,.3);
		top: 2126px;
		width:150px;
		height: 200px;
		text-align: center;
		padding-top: 60px;
		z-index: 5;
		left:86%;
		}
		.info1,.info2,.info3,.info4,.info5,.info6,.info7,.info8 p{
		font-family: 微軟正黑體;
		font-size:25px;
		color: #fff;
		}
		.info1:hover{
		-webkit-transition: 500ms;
		opacity: 1;
		}
		.info2:hover{
		-webkit-transition: 500ms;
		opacity: 1;
		}
		.info3:hover{
		-webkit-transition: 500ms;
		opacity: 1;
		}
		.info4:hover{
		-webkit-transition: 500ms;
		opacity: 1;
		}
		.info5:hover{
		-webkit-transition: 500ms;
		opacity: 1;
		}
		.info6:hover{
		-webkit-transition: 500ms;
		opacity: 1;
		}
		.info7:hover{
		-webkit-transition: 500ms;
		opacity: 1;
		}
		.info8:hover{
		-webkit-transition: 500ms;
		opacity: 1;
		}
		.igfb img{
			width:50px;
			height:50px;
		}
		.b1 img{
		position: absolute;
		width:200px;
		height:150px;
		top:1000px;
		margin: 0px;
		z-index: 2;
		left:;
		}
		.b2 img{
		position: absolute;
		width:200px;
		height:150px;
		top:1400px;
		margin: 0px;
		z-index: 2;
		left:83%;
		}
		.b3 img{
		position: absolute;
		width:200px;
		height:150px;
		top:1700px;
		margin: 0px;
		z-index: 2;
		left:;
		}
		.b4 img{
		position: absolute;
		width:200px;
		height:150px;
		top:2000px;
		margin: 0px;
		z-index: 2;
		left:83%;
		}
		.b5 img{
		position: absolute;
		width:200px;
		height:150px;
		top:2300px;
		margin: 0px;
		z-index: 2;
		left:;
		}
		.b6 img{
		position: absolute;
		width:200px;
		height:150px;
		top:2700px;
		margin: 0px;
		z-index: 2;
		left:83%;
		}
		.b7 img{
		position: absolute;
		width:200px;
		height:150px;
		top:3100px;
		margin: 0px;
		z-index: 2;
		left:-2%;
		}
		.b8 img{
		position: absolute;
		width:200px;
		height:150px;
		top:2900px;
		margin: 0px;
		z-index: 2;
		left:50%;
		}
		#goTop{
			z-index:8;
		}
		</style>