div.view{
			width:150px;
			height:90px;
			float:left;
			text-align: center;
		}
		div.view:hover{
			background-color:#FFFFBB;		
			color:#000000;
		}
		nav.top{
			width: 100%;
			height:90px;
			background-color:#61BCB4;
			margin-top: 0%;

			
		}
		img.icon{
            width: 120px;
            height: 90px;
            float:left;    
		}
		a{
            font-size: 25px;
            color:white;
            text-decoration:none;
		}
		html{
	font-family:"微軟正黑體";
	scroll-behavior: smooth;
	background:bisque;
}
body{
	font-family: "微軟正黑體";
	width:100%;
	margin: 0 auto;
	min-width: 1200px;
	cursor: default;
}
nav{
	opacity: 0.8;
	background-color: #ECEAEA;
}

.button{
				
				background-color:#00DDAA;
				color: white;
				border: 3px solid#000000;
				padding:0.5% 1%;
				text-decoration:none;
				font-size: 20px;
				font-weight: bold;
				font-family: "微軟正黑體";
			}
			.button:hover{
				
				background-color:	#FF69B4;
				border: 3px solid#000000;
				padding:0.5% 1%;
				text-decoration:none;
				font-size: 20px;
				
				font-weight: bold;
				font-family: "微軟正黑體";
			}


.container-1{
  width: 300px;
 
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}


.gotop{
	position: fixed;
	top:90%;
	right:2%;
}
div.pic img{transform:scale(1,1);transition: all 1s ease-out;}
div.pic img:hover{transform:scale(1.2,1.2);}







h1.special{
	margin-top: 5%;
	font-size:50px;
	color:#0044BB;
}
h3.bag{
	font-size:30px;
	margin-top: 5%;
}

div.special{
	display: flex;
	width: 70%;
	height: 200px;
	margin-top: 3%;
}
div.bag1{
	flex:4;
	margin-right:5%;
	
}
img.bag{
	width: 300px;
	height: 300px;
}
div.bag2{
	flex:4;
	margin-right: 5%;
}
div.bag3{
	flex:4;
}
.main-menu	{	color:#FFFFFF;  padding:25px; margin: 0px; cursor:pointer; display:inline-block;font-size: 25px;float:left;	}	/* 主選單的樣式 */
.main-menu:hover {	background-color:#FFFFBB; color:#000000;}
.sub-menu	{	 background-color:#CCCCCC; margin:15px -50px; padding:0px; list-style-type:none; position:absolute; 	} /* 下拉清單的樣式 */
.sub-menu li	{ padding: 0px 0px; text-align:center; color:#000000;  } /* 下拉清單每一列的樣式 */
.sub-menu li:hover	{	 background-color:#FFFFBB; 	}
.sub-menu a	{	text-align:center; display:block; text-decoration:none; color:green;}
.sub-menu a:hover	{	color:#000000; background-color:#FFFFBB; text-decoration:none;  }

.footer {
	position: absolute;
	top:230%;
	bottom: 0;
	left: 0;
	height: 34px;
	background-color:#61BCB4;
	width: 100%;
	text-align: center;
	margin-top: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
}



