div.view{
width:150px;
height:90px;
float:left;
text-align: center;
}
div.view:hover{
background-color:#FFFFBB;
color:#000000;
}
nav.top{
position:relative;
width: 100%;
height:90px;
background-color:#61BCB4;
margin-top:0%;
z-index:2;

}
img.icon{
width: 120px;
height: 90px;
float:left;
}
a{
font-size: 25px;
color:white;
text-decoration:none;
}
a:hover{
background-color:#FFFFBB;
color:#000000;
}
*{
/*border: solid 1px black; */
}
img.banner{
width:100%;
height:600px;
padding-left: -30%;
left: -950px;
top: 330px;
}

html{
font-family:"微軟正黑體";
scroll-behavior: smooth;
background:bisque;
}
body{
width:100%;
font-family: "微軟正黑體";
width:100%;
margin: 0 auto;
min-width: 1200px;
cursor: default;
}
nav{
opacity: 0.8;
background-color: #ECEAEA;
}

.button{

background-color:#00DDAA;
color: white;
border: 3px solid#000000;
padding:0.5% 1%;
text-decoration:none;
font-size: 20px;
font-weight: bold;
font-family: "微軟正黑體";
}
.button:hover{

background-color:	#FF69B4;
border: 3px solid#000000;
padding:0.5% 1%;
text-decoration:none;
font-size: 20px;

font-weight: bold;
font-family: "微軟正黑體";
}


.container-1{
width: 300px;

vertical-align: middle;
white-space: nowrap;
position: relative;
}

.gotop{
position: fixed;
top:90%;
right:2%;
}

div.pic img{transform:scale(1,1);transition: all 1s ease-out;}
div.pic img:hover{transform:scale(1.2,1.2);}


.main-menu	{	color:#FFFFFF;  padding:25px; margin: 0px; cursor:pointer; display:inline-block;font-size: 25px;float:left;	}	/* 主選單的樣式 */
.main-menu:hover {	background-color:#FFFFBB; color:#000000;}
.sub-menu	{	 background-color:#CCCCCC; margin:15px -50px; padding:0px; list-style-type:none; position:absolute; 	} /* 下拉清單的樣式 */
.sub-menu li	{ padding: 0px 0px; text-align:center; color:#000000;  } /* 下拉清單每一列的樣式 */
.sub-menu li:hover	{	 background-color:#FFFFBB; 	}
.sub-menu a	{	text-align:center; display:block; text-decoration:none; color:green;}
.sub-menu a:hover	{	color:#000000; background-color:#FFFFBB; text-decoration:none;  }

#imgtest {
    position: absolute;
    top: 100px;
    left: 400px;
    z-index: 1;
}

table {
	position:absolute;
	top:35%;
    left: 10%;
    font-size: 20px;
  	border-collapse: collapse;
  	z-index: -1;
  	background-color:#FFF0CA;	
	color:black;
	font-family: 微軟正黑體;

  	}
h1{
	position:absolute;
	left:16%;
	font-family: 微軟正黑體;
	color:#EA7120;
	font-size: 40px;
}
.shopicon img{
	position:absolute;
	left: 9%;
	top:20%;
	width:80px;
	height:80px;
}
thead{
		background-color:#FDCB93;
		font-weight: bold;
}
tr,td{
	border-collapse: collapse;
  	border: 3px solid white;
}
/* pay */
.payicon img{
	position:absolute;
	left: 9%;
	top:86%;
	width:80px;
	height:60px;
}
.textdelivery h1{
	position:absolute;
	left: 16%;
	top:82%;
	font-family: 微軟正黑體;
	color:#EA7120;
	font-size: 40px;
}
.payall{
	position:absolute;
	left: 10%;
	top:85%;
font-family: 微軟正黑體;
	width:80%;
	height: 100%;
}

.pay{
	position:absolute;
	left: 20%;
	top:15%;
	width:40%;
	flex: 6;

}
.delivery{
	position:absolute;
	left: 60%;
	top:15%;
	width:40%;
	flex: 6;
}



div.pay1{
	width: 50%;
	height:270px;
	border-radius: 4px;
	background-color: rgba(244,244,244,0.5);
	text-align: left;
	font-size: 25px;
	padding-left: 13%;
}
div.delivery1{
	width: 50%;
	height:270px;
	border-radius: 4px;
	background-color: rgba(244,244,244,0.5);
	font-size: 25px;
	text-align: left;
	padding-left: 13%;
}
h2.m{
font-family: 微軟正黑體;
	color:#F28F17;
	padding-left:19%;

}
h2.n{
	padding-left:19%;
font-family: 微軟正黑體;
	color:#F28F17;

}
.noteicon img{
	position:absolute;
	left: 9%;
	top:164%;
	width:80px;
	height:60px;
}
.notes h1{
	position:absolute;
	left:16%;
	top:160%;
	font-family: 微軟正黑體;
	color:#EA7120;
	font-size: 40px;
}
.notestext{
	position:absolute;
	left:10%;
	top:180%;

	font-family: 微軟正黑體;
	color:#EA7120;
	font-size: 40px;
}
#btn_finish {
position:absolute;
top:210%;
left:48%;
font-size: 14px;
font-family: 微軟正黑體;
width: 100px;
height: 40px;
line-height: 35px;
text-align: center;
color: white;
background-color:#D5493A;
border-radius: 6px;
border: 0;
margin-bottom: 30px;
}
.footer {
	position: absolute;
	top:220%;
	bottom: 0;
	left: 0;
	height: 34px;
	background-color:#61BCB4;
	width: 100%;
	text-align: center;
	margin-top: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
}
